@model JorgeMoncayo_Examen1P.Models.JorgeMoncayo_tabla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JorgeMoncayo_tabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJuego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ps4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ps4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ps5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ps5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
